# #55: Menghitung jumlah baris menurut kriteria tertentu

## Import Modules

In [4]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

## Persiapan Data Frame

In [9]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns = cols)
df

   A  B  C  D  E
0  6  2  7  8  7
1  7  3  4  1  7
2  3  7  8  1  8
3  9  9  2  9  4
4  1  6  4  9  6
5  9  6  3  7  1
6  4  6  8  4  1
7  7  7  4  1  7
8  4  6  2  5  3
9  4  9  1  6  2

## Menghitung jumlah baris menurut kriteria tertentu

In [12]:
(df['A'] < 5).sum()

5

In [14]:
(df['A'] < 5).mean()

0.5