# #17: Resampling pada data deret waktu (time series data)

## Import Modules

In [4]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

## Persiapan Data Frame

In [17]:
n_rows = 365 * 24 
n_cols = 2         
cols = ['col1', 'col2'] 

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df.index = pd.date_range(start='2023-01-01', periods=n_rows, freq='H')

df.head()

                     col1  col2
2023-01-01 00:00:00    15     9
2023-01-01 01:00:00    18     4
2023-01-01 02:00:00     4    11
2023-01-01 03:00:00     5     1
2023-01-01 04:00:00    15    14

## Resampling data dengan interval monthly

In [12]:
df.resample('M')['col1'].sum().to_frame()

            col1
2023-01-31  7317
2023-02-28  6562
2023-03-31  7345
2023-04-30  7211
2023-05-31  7512
2023-06-30  7126
2023-07-31  7559
2023-08-31  7587
2023-09-30  7463
2023-10-31  7501
2023-11-30  6845
2023-12-31  7425

## Resampling data dengan interval daily

In [15]:
df.resample('D')['col1'].sum().to_frame()

            col1
2023-01-01   256
2023-01-02   264
2023-01-03   257
2023-01-04   274
2023-01-05   218
...          ...
2023-12-27   210
2023-12-28   297
2023-12-29   235
2023-12-30   225
2023-12-31   246

[365 rows x 1 columns]