# #11: Melakukan seleksi kolom dan baris pada Data Frame menggunakan `loc`

## Import Modules

In [4]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

## Persiapan Data Frame

In [8]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0  10   6   9  14  15
1   7   5   6  12   9
2   5  10  12  18  13
3   1   4  15  12  11
4   3   4  10  13   9
5  16  13  14   1  15
6  13  14   8  16  18
7   8  11  10   4  13
8   9   7   2  13  18
9  12  12  13  13   1

## Seleksi kolom dan baris menggunakan `loc`

In [13]:
df.loc[[0,3,4], ['B','E']]

   B   E
0  6  15
3  4  11
4  4   9

## Seleksi baris dengan kondisi

In [16]:
df.loc[df['B']>10, ['B','D','E']]

    B   D   E
5  13   1  15
6  14  16  18
7  11   4  13
9  12  13   1

## Slicing Data Frame dengan `loc`

In [19]:
df.loc[0:4, 'B':'D']

    B   C   D
0   6   9  14
1   5   6  12
2  10  12  18
3   4  15  12
4   4  10  13